.head-section {
    height: 1000px;
    background-color: #121212;
    width:100%;
}

.container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

body {

    height: 4000px;
    background-color:#121212;

    /*background: rgb(255,255,255);*/
    /*background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(9,9,121,0.5301470930168943) 28%, rgba(51,7,86,0.8242647400757178) 54%, rgba(152,2,2,1) 90%);*/

    /*background-color: whitesmoke;*/
}

html {
    scroll-behavior: smooth;
}

.double-text{
    font-size: 20pt;
    text-align:center;
}

.triple-text {
    font-size:18pt;
    text-align:center;
}


.single {
    height: 600px;
    background-color: #121212;
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

.card {
    display:block;
    background-color: #121212;
    border:none;
    color:#ffa000;
    text-align:center;
    margin: 0 auto;
    width: 400px;
    margin-top: 100px;
    transition:0.7s;
}

.card-invisible {
    display:block;
    background-color: #121212;
    border:none;
    color:#ffa000;
    text-align:center;
    margin: 0 auto;
    width: 400px;
    visibility:hidden;
    height:0;
    opacity:0;
    transition:0.7s;

}

.game-canvas {
    display:none;

}

.game-canvas-on {
    display:block;
}

.title {
    font-size: 42pt;
    font-family: 'Raleway', sans-serif;
}

#logo {
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -o-transition: 0.50s;

}
#logo:hover {
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -o-transition: 0.50s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor:none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating-opposite /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes rotating-opposite {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.rotating-background {
    height: 300px;
    width: 300px;
    background-color: #121212;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    margin:0 auto;
    margin-top: 100px;

    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}

.rotating-background-2 {
    height: 100px;
    width: 100px;
    background-color: #ffa000;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    margin:0 auto;
    margin-top: 100px;

    -webkit-animation: rotating-opposite 20s linear infinite;
    -moz-animation: rotating-opposite 20s linear infinite;
    -ms-animation: rotating-opposite 20s linear infinite;
    -o-animation: rotating-opposite 20s linear infinite;
    animation: rotating-opposite 20s linear infinite;
}

.double {
    height: 400px;
    display: flex;
    justify-content: center; /* align horizontal *!*/
    align-items: center; /* align vertical *!*/
}

.double-title {
    color: #ffa000;
}

.double-1 {
    background-color: #121212;

}

.double-2 {
    background-color: #121212;
    color:whitesmoke;
}

.triple {
    height: 600px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.triple-1 {
    background-color: yellow;
}

.triple-2 {
    background-color: #121212;
}

.triple-3 {
    background-color: red;
}

.slide-title {
    color: whitesmoke;
    padding-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}
